%h1 Editing comment
- form_tag admin_comment_path(@comment), :method => 'PUT' do
  = render :partial => 'form'
  = submit_tag 'Edit'
= link_to 'Show', admin_comment_path(@comment)
|
\#{link_to 'Back', admin_comments_path}
