*.bundle
*.o
*.swp
.DS_Store
.idea
/.env
db/*.sqlite3
log/*.log
Makefile
mkmf.log
public/demofiles/**/*
public/images/maps/thumbs/**/*
public/javascripts/admin/application.js
public/javascripts/application.js
public/stuffs/**/*
public/system/**/*
rerun.txt
tmp/*
tmp/**/*
vendor/ruby/**/*
