*.bundle
*.o
*.swp
.DS_Store
.idea
db/test.sqlite3
log/*.log
Makefile
mkmf.log
public/demofiles/**/*
public/images/maps/thumbs/**/*
public/stuffs/**/*
public/system/**/*
rerun.txt
tmp/*
tmp/**/*
vendor/ruby/**/*
