= error_messages_for 'player'
/ [form:player]
%p
  %label{:for => "player_created_at"} Created at
  %br/
  = datetime_select 'player', 'created_at'
%p
  %label{:for => "player_updated_at"} Updated at
  %br/
  = datetime_select 'player', 'updated_at'
/ [eoform:player]
