<p>
	<b>Nickname:</b> <%= render_nickname @player.main_nickname.nickname %>
</p>
<p>
	<b>Alias:</b> <%= @player.nicknames.map{|name| render_nickname(name.nickname) }.join(', ') %>
</p>
<p>
	<b>Created at:</b> <%= render_datetime @player.created_at %>
</p>
<p>
	<b>Updated at:</b> <%= render_datetime @player.updated_at %>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @player %> |
<%= link_to 'Back', :action => 'list' %>
