<%= error_messages_for 'comment' %>

<p><label for="comment_name">Your Name*</label><br/>
<%= text_field 'comment', 'name', :class => 'text'  %></p>

<p><label for="comment_mail_pass">Mail for <a target="_blank" href="http://gravatar.com">Gravatar</a> or Passphrase for <a target="_blank" href="http://www.levitated.net/daily/lev9block.html">Identicon</a>* (will not be published)</label><br/>
<%= text_field 'comment', 'mail_pass', :class => 'text'  %></p>

<p><label for="comment_message">Message*</label><br/>
<%= text_area 'comment', 'message', :rows => 3  %></p>

