
<!--
		<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" width="<%= @demo.video_width %>" height="<%= @demo.video_height %>">
			<param name="src" value="<%= @demo.video_url %>" />
			<param name="controller" value="true" />
			<param name="autoplay" value="true" />
			<object type="video/quicktime" data="<%= @demo.video_url %>" width="<%= @demo.video_width %>" height="<%= @demo.video_height %>" class="mov">
				<param name="autoplay" value="true" />
				<param name="controller" value="true" />
					Your browser/browser-plugin does not support this video file. Give Firefox and Quicktime 7+ a try.
			</object>
		</object>
-->
