#player
  / <a href="http://www.macromedia.com/go/getflashplayer" target="_blank">Get Flash Player 9.0.115 or later</a> to see this video.
  %a{:href => "http://www.adobe.com/go/getflashplayer", :target => "_blank"}
    %img{:alt => "Get Adobe Flash player", :src => "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"}/
:javascript
  var flashvars = {
    "plugins": 'ltas',
    "ltas.cc": 'jlxzayqffdyqksz',
    "file": '#{File.join(root_url, "videos", @demo.video_file)}',
    "id": 'player',
    "image": "#{File.join(root_url, '/images/maps/thumbs/384x288/', @demo.map_id.to_s)}.jpeg"
  };
  var params = {
    'allowscriptaccess': 'always',
    'allowfullscreen': 'true',
    'wmode': 'transparent'
  };
  var attributes = {
    'id': 'player',
    'name': 'player'
  };
  swfobject.embedSWF('/flashes/player.swf', 'player', '384', '308', '9.0.115', false, flashvars, params, attributes);
  
