
<tr>
	<td>Player</td>
	<td>
		<% if @fixed_nickname %>
			<%= render_nickname(@fixed_nickname) %>
			<%= hidden_field(:demo, :players, :value => @fixed_nickname) %>
		<% else %>
			<% if @playernames %>
				<select name="demo[players]">
					<option value="">choose player</option>
					<%= @playernames.collect { |name| '<option value="%s">%s</option>' % [ name, render_nickname(name) ]}.join("\n") %>
				</select>
			<% end %>
		<% end %>
	</td>
</tr>
<tr>
	<td>Time</td>
	<td><%= render_race_time @demo.time %></td>
</tr>
