%tr
  %td Player
  %td
    - if @fixed_nickname
      = render_nickname(@fixed_nickname)
      = hidden_field(:demo, :players, :value => @fixed_nickname)
    - else
      - if @playernames
        %select{ :name => "demo[players]" }
          %option{ :value => "" }
            choose player
          - for name in @playernames
            %option{:value => name}
              = render_nickname_plain(name)
%tr
  %td Time
  %td
    = render_race_time @demo.time

