#player
  - url = "//player.vimeo.com/video/#{@demo.vimeo_id}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"
  %iframe{src: url}(width="384" height="288" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

