<%= error_messages_for 'map' %>

<!--[form:map]-->
<p><label for="map_name">Name</label><br/>
<%= text_field 'map', 'name'  %></p>

<p><label for="map_created_at">Created at</label><br/>
<%= datetime_select 'map', 'created_at'  %></p>

<p><label for="map_updated_at">Updated at</label><br/>
<%= datetime_select 'map', 'updated_at'  %></p>
<!--[eoform:map]-->

