<form action="<%= url_for :action => 'search' %>" method="post">
	<input name="mapsearch" size="30" type="text" value="<%= @mapsearch %>" />
	<%= submit_tag 'Search' %>
	<input type="button" value="Clear" onclick="window.location.href='<%= url_for :action => 'clearsearch' %>'" />
</form>
