%h1 Complete map list.
%table
  %tr
    %th map
    %th # demos
    %th #1 if racemap
  - for map in @maps
  %tr
    %td= render_linked_map map
    %td= map.demos.map { |demo| 1 if demo.gamemode == 'freestyle' || (demo.gamemode == 'race' && !demo.position.nil?) }.compact.length
    %td= render_linked_player(map.get_first_player) || '-'
