<h1>Complete map list.</h1>

<table>
	<tr>
		<th>map</th>
		<th># demos</th>
		<th>#1 if racemap</th>
	</tr>
	<% for map in @maps %>
		<tr>
			<td><%= render_linked_map map %></td>
			<td><%= map.demos.map { |demo| 1 if demo.gamemode == 'freestyle' || (demo.gamemode == 'race' && !demo.position.nil?) }.compact.length %></td>
			<td><%= render_linked_player(get_first_player(map)) || '-' %></td>
		</tr>
	<% end %>
</table>

