html, body
{
	color: black;
	background-color: #ccc;

	font-family: Tahoma, Arial;
	font-size: 11px;

	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
}

/*
div
{
	overflow: hidden;
}
*/

img
{
	vertical-align: top;
	border: 0;
}

.main
{
	position: relative; /* needed for footer positioning*/

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}



.header
{
	position: fixed;
	z-index: 100;
	width: 100%;

	background-image: url(/images/layout_2008-07/bg_header_outer_right.gif);
	background-position: 90% top;
}

.header,
.header .outer_left, .header .outer_middle, .header .outer_right,
.header .inner_left, .header .inner_right, .header .inner
{
	height: 129px;
}

.header .outer_left
{
	width: 10%;
	float: left;
	background-image: url(/images/layout_2008-07/bg_header_outer_left.gif);
	background-position: right top;
}

.header .outer_middle
{
	width: 80%;
	float: left;
	background-image: url(/images/layout_2008-07/bg_header.gif);
	background-position: left top;
}

.header .inner_left
{
	background-image: url(/images/layout_2008-07/bg_header_inner_left.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.header .inner_right
{
	background-image: url(/images/layout_2008-07/bg_header_inner_right.gif);
	background-position: right top;
	background-repeat: no-repeat;
}



.content
{
	position:relative; /* needed for footer positioning*/

	padding-top: 129px;

	padding-bottom: 0 !important;
	overflow: hidden;

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

.content .outer_left
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10%;
	background-image: url(/images/layout_2008-07/bg_left.gif);
	background-position: right top;
}

.content .outer_right
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10%;
	background-image: url(/images/layout_2008-07/bg_left.gif);
	background-position: left top;
}

.content .outer_middle
{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 23px;
	background-image: url(/images/layout_2008-07/bg_content_top.gif);
	background-position: left 129px;
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.content .shaddow_left
{
	position: fixed;
	top: 129px;
	left: 10%;
	bottom: 0;
	width: 48px;
	padding-left: 9px;
	background-image: url(/images/layout_2008-07/bg_content_shaddow_left.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

.content .shaddow_right
{
	position: fixed;
	top: 129px;
	right: 10%;
	bottom: 0;
	width: 48px;
	background-image: url(/images/layout_2008-07/bg_content_shaddow_right.gif);
	background-position: right top;
	background-repeat: repeat-y;
}

.content .shaddow_left .border
{
	width: 39px;
	height: 483px;
	background-image: url(/images/layout_2008-07/bg_content_left.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.content .shaddow_right .border
{
	width: 39px;
	height: 483px;
	background-image: url(/images/layout_2008-07/bg_content_right.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.content .inner
{
	padding: 20px 30px;
	position: relative;
}

body, .content .inner
{
	background-image: url(/images/layout_2008-07/bg_content_freshthinking.gif);
	background-position: 70% 129px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.footer
{
	position: fixed;
	z-index: 1001;
	height: 23px;
	line-height: 23px;
	width: 100%;
	bottom:0; /* stick to bottom */

	color: #808693;
	background-color: black;
	background-image: url(/images/layout_2008-07/bg_footer.gif);
	background-position: left top;
}

.footer a
{
	color: white;
	text-decoration: none;
}

.footer .left
{
	float: left;
	padding-left: 12%;
}

.footer .right
{
	float: right;
	padding-right: 12%;
}

.footer .partner img
{
	margin-top: 4px;
}

.footer .partner img
{
	margin-left: 10px;
}


/* navigation */
.nav, .nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 66px 28px 0;
}

.nav li
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.nav a
{
	display: block;
	color: #cccfd6;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	margin-right: 1px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	background: url(/images/layout_2008-07/bg_nav_active.png) no-repeat 0 0;
}

.nav .active a,
.nav a:hover,
.nav a:focus
{
	color: white;
}

.nav .active a
{
	background-position: -600px 0;
}

/* subnavigation */
.nav ul
{
	display: none;
	position: absolute;
	padding: 0;
	left: 10%;
	margin-left: 50px;
}

.nav li.active ul
{
  display: block;
}

.nav li.active ul a,
.nav li.active ul li.active a
{
	color: white;
	opacity: 0.5;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 11px;
	margin-right: 26px;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	background: left 10px no-repeat url(/images/layout_2008-07/bg_subnav_active.gif);
}

.nav li.active ul li.active a,
.nav li.active ul a:hover,
.nav li.active ul a:focus
{
	opacity: 1.0;
}

