<table style="width: 100%">
	<tr>
		<td style="vertical-align: top; padding: 0; text-align: center">

			<img src="/images/final.gif" width="546" height="278" alt="em final 2008" />

		</td>

		<td style="vertical-align: top; padding: 0 0 0 20px">
			<%= render :partial => '/shoutboxes/compact' %>
			<p>
				<%= will_paginate @shoutboxes, :inner_window => 0, :outer_window => 0 %>
			</p>
		</td>
	</tr>
</table>

