<h1>Settings.</h1>

<p>
	Note: To use this feature you need to enable cookies in your browser.
</p>


<% form_tag :action => 'update' do %>

	<table>
		<tr>
			<td>
				Video player<sup>*</sup>
			</td>
			<td>
				<%= select_tag "video_player", options_for_select(@video_players.map {|u| [u.capitalize,u]}, @video_player) %>
			</td>
		</tr>
	</table>

	<p>
		<sup>*</sup> <a href="http://www.adobe.com/go/getflashplayer" target="_blank">Adobe Flash Player 9 Update 3 (9,0,115,0)</a> or later is required for the flash option.
	</p>

	<p>
		<%= submit_tag :Update %>
	</p>

<% end %>
