- percent = (rating.average - rating.range.min) / (rating.range.max - rating.range.min) * 100
.rating_static{:title => sprintf('%.2f (%d votes)', rating.average, rating.count)}
  %ul
    %li.current-rating{:style => "width: #{percent}%;"}
