<%= error_messages_for 'announcement' %>

<!--[form:announcement]-->
<p><label for="announcement_message">Message</label><br/>
<%= text_area 'announcement', 'message', {:cols => 100, :style => 'width: 100%'}  %></p>
<!--[eoform:announcement]-->

