<p>
	<strong>Message</strong>
	<br />
	<%= render :inline => @announcement.message %>
</p>

<p>
	<strong>Created at</strong>
	<%= render_datetime @announcement.created_at %>
</p>

<p>
	<strong>Updated at</strong>
	<%= render_datetime @announcement.updated_at %>
</p>

<p>
	<%= link_to 'Edit', :action => 'edit', :id => @announcement %> |
	<%= link_to 'Back', :action => 'list' %>
</p>

