%h1
  Listing
  = pluralize(@players.size, "player")

.player_list
  - for player in @players
    %div
      = render_linked_player(player)
      %sup
        = pluralize(@demo_cnt[player.id], "demo")

  %div(style = "clear: both")

