<%= error_messages_for 'shoutbox' %>

<!--[form:shoutbox]-->
<p><label for="shoutbox_name">Name</label><br/>
<%= text_field 'shoutbox', 'name'  %></p>

<p><label for="shoutbox_message">Message</label><br/>
<%= text_area 'shoutbox', 'message'  %></p>

<p><label for="shoutbox_created_at">Created at</label><br/>
<%= datetime_select 'shoutbox', 'created_at'  %></p>
<!--[eoform:shoutbox]-->

